﻿@page  "/clients/tools/{iClientID:int}"
@inherits ClientToolsView

<h3 class="text-center text-white font-weight-light">Sapphire Agent</h3>
<div>
    <div class="bg-light-blue info">
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <h3 class="font-weight-light detail-header">Client @selectedClient.MachineName from group @selectedClient.Group</h3>
                <div class="padd">
                    <select @bind="ToolName">
                        @foreach (var tool in toolNameList)
                        {
                            <option value="@tool">@tool</option>
                        }
                    </select>
                </div>
                <div class="bg-light padd">
                    @if (activeToolName == toolNameList[1])
                    {
                        <h4>@activeToolName</h4>
                        <p>Désactiver l'agent du client?</p>
                        <button @onclick="() => DeactAgentTool()" class="input">Désactiver</button>
                    }
                    else if (activeToolName == toolNameList[2])
                    {
                        <h4>@activeToolName</h4>
                        <div>
                            Appliquer au groupe? <input type="checkbox" @bind="GroupApply" class="input">
                            <p>Précisez l'application à arrêter</p>
                            <select @bind="input1" class="input">
                                @foreach (var process in toKillProcessList)
                                {
                                    <option value="@process">@process</option>
                                }
                            </select>
                        </div>
                        <button @onclick="() => KillAppTool()">Arrêter</button>
                    }
                    else if (activeToolName == toolNameList[3])
                    {
                        <h4>@activeToolName</h4>
                        <div>
                            Appliquer au groupe? <input type="checkbox" @bind="GroupApply" class="input">
                            <p>Choisir l'application à démarrer </p>
                            <select @bind="input1" class="input">
                                @foreach (var process in toRunProcessList)
                                {
                                    <option value="@process">@process</option>
                                }
                            </select>
                        </div>
                        <button @onclick="() => RunAppTool()">Démarrer</button>
                    }
                    else if (activeToolName == toolNameList[4])
                    {
                        <h4>@activeToolName</h4>
                        <div>
                            Appliquer au groupe? <input type="checkbox" @bind="GroupApply" class="input">
                            <p>Choisir l'environnement à mettre en place</p>
                            <select @bind="input1" class="input">
                                @foreach (var env in toSetEnvList)
                                {
                                    <option value="@env">@env</option>
                                }
                            </select>
                        </div>
                        <button @onclick="() => SetEnvTool()">Appliquer</button>
                    }
                    else if (activeToolName == toolNameList[5])
                    {
                        <h4>@activeToolName</h4>
                        <div>
                            Appliquer au groupe? <input type="checkbox" @bind="GroupApply" class="input">
                            <p>Entrez les informations pour enregistrer la clé de registre</p>
                            <input @bind="@bitInput" placeholder="HKLM" class="input" />
                            <input @bind="@input1" placeholder="Path" class="input" />
                            <input @bind="@input2" placeholder="Key" class="input" />
                            <input @bind="@input3" placeholder="Value" class="input" />
                        </div>
                        <button @onclick="() => SetRegisTool()">Appliquer</button>
                    }
                    else if (activeToolName == toolNameList[6])
                    {
                        <h4>@activeToolName</h4>
                        <div>
                            Appliquer au groupe? <input type="checkbox" @bind="GroupApply" class="input">
                            <p>Entrez les informations pour enregistrer un starter</p>
                            <input @bind="@input1" placeholder="DataString_Index" class="input" />
                            <input @bind="@input2" placeholder="Path_FileName_arg" class="input" />
                        </div>
                        <button @onclick="() => SetStarterTool()">Appliquer</button>
                    }
                    else
                    {
                        <h4>Choisir une action</h4>
                    }
                </div>
            </Authorized>
            <NotAuthorized>
                <p>Not Authorized</p>
            </NotAuthorized>
        </AuthorizeView>

    </div>
    <button class="btn-back" @onclick="ReturnToList"> Retour </button>
</div>

@code {
    /*Calls method when component is loaded*/
    protected override async Task OnInitializedAsync()
    {
        GetOptionLists();
        await GetClient(IClientId);
    }
}
