﻿@page "/clients"
@inherits ClientBoardView
@inject NavigationManager _navigationManager


<h1 class="font-weight-light text-white">Clients connected to Sapphire Agent</h1>
<p class="font-weight-light text-white">@clientList.Count.ToString() results</p>
<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Machine name</th>
                    <th>Group</th>
                    <th>IP</th>
                    <th>Environment</th>
                    <th>Domain</th>
                    <th>Last update</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in clientList)
                {
                    <tr>
                        <td>@client.MachineName</td>
                        <td>@client.Group</td>
                        <td> @client.Ip</td>
                        <td>@client.Environment</td>
                        <td>@client.Domain</td>
                        <td>@client.Lastupddttm.ToString()</td>
                        <td>
                            <AuthorizeView Roles="User, Administrator">
                                <Authorized>
                                    <button class="btn-dark" @onclick="() => ViewClientDetails(client.IClientId)"><span class="oi oi-eye"></span></button>
                                </Authorized>
                            </AuthorizeView>
                            <AuthorizeView Roles="Administrator">
                                <Authorized>
                                    <button class="btn-dark" @onclick="() => ViewClientTools(client.IClientId)"><span class="oi oi-wrench"></span></button>
                                </Authorized>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GetClientList();
    }
}