﻿@page "/clients/details/{iClientID:int}"
@inherits ClientDetailView

<div class="container">
    <div class="row">
        <AuthorizeView Roles="User, Administrator">
            <Authorized>
                <div class="col bg-light-blue info mr-2">
                    <h3 class="font-weight-light detail-header">Informations du client</h3>
                    <div class="bg-light padd">
                        <dl class="list">
                            <dt>Machine</dt>
                            <dd>Nom: @selectedClient.MachineName</dd>
                            <dd>Domaine: @selectedClient.Domain</dd>
                            <dd>Adresse IP: @selectedClient.Ip</dd>
                            <dt>Logiciel</dt>
                            <dd>Environnement: @selectedClient.Environment</dd>
                            <dd>Version Agent: @selectedClient.AgentVersion</dd>
                            <dd>Dernière update: @selectedClient.Lastupddttm.ToString()</dd>
                            <dt>Accès</dt>
                            <dd>MasterGroup: @selectedClient.MasterGroup</dd>
                            <dd>Group: @selectedClient.Group</dd>
                            <dt>Endroit physique</dt>
                            <dd>Nom employé: @selectedClient.EmployeeName</dd>
                            <dd>Salle: @selectedClient.Room</dd>
                        </dl>
                        <button class="btn-back" @onclick="ReturnToList"> Retour </button>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
@code {
    /*Calls method when component is loaded*/
    protected override async Task OnInitializedAsync()
    {
        await GetClient(IClientId);
    }
}