﻿@page "/"
@inherits IndexView

<h3 class="text-white">Sapphire</h3>
<AuthorizeView Roles="User, Administrator">
    <Authorized>
        <div class="card">
            <p>Hello, @context.User.Claims.First().Value</p>
            <p>You are an/a @context.User.Claims.Last().Value</p>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="card">
            <b>Not authorized</b>
        </div>
    </NotAuthorized>
</AuthorizeView>