﻿@page "/register"
@inherits RegisterView

<h1 class="title">Register</h1>
<div class="row justify-content-md-center">
    <div class="card">
        <p text-color="red">@ValidationMessage</p>
        <div class="text-login">
            <label class="login-text">Email</label>
            <input @bind="NewUserEmail" class="input-login" />
            <span class="text-danger"></span>
        </div>
        <div class="text-login">
            <label class="login-text">Password</label>
            <input type="password" @bind="NewUserPassword" class="hide input-login" />
            <span class="text-danger"></span>
        </div>
        <div class="text-login">
            <label class="login-text">Confirm Password</label>
            <input type="password" @bind="ConfirmNewUserPassword" class="hide input-login" />
            <span class="text-danger"></span>
        </div>
        <div class="row justify-content-md-center">
            <button @onclick="RegisterToApp" class="btn-primary horizontal-center">Register</button>
        </div>
    </div>
</div>
