﻿@using Microsoft.Extensions.Configuration
@page "/loginControl"
@using System.Web;

<AuthorizeView>
    <Authorized>
        <div class="top-info">
            <b class="text-white float-left">Hello, @context.User.Claims.First().Value!</b>
            <b class="text-white float-right">Using Sapphire with @context.User.Claims.Last().Value rights</b>
        </div>
        <a class="ml-md-auto btn btn-primary"
           href="/logout?returnUrl=/"
           target="_top">Logout</a>
    </Authorized>
    <NotAuthorized>
        <input type="text"
               placeholder="User Name"
               @bind="@username" />
        &nbsp;&nbsp;
        <input type="password"
               placeholder="Password"
               @bind="@password" />
        <a class="ml-md-auto btn btn-primary"
           href="/login?paramUsername=@Encode(username)&paramPassword=@Encode(password)"
           target="_top">Login</a>
    </NotAuthorized>
</AuthorizeView>
@code{
    public string username = "";
    public string password = "";
    public string Encode(string param)
    {
        return HttpUtility.UrlEncode(param);
    }
}