﻿@inherits LayoutComponentBase
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class="sidebar">
    <NavMenu />
</div>
<div class="main">
    <div class="top-row px-4">
        <LoginControl />
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
