﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration
@using Microsoft.AspNetCore.Components.Authorization
@inherits NavMenuView

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">@_configuration["AppSettings:ApplicationName"]</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="User, Administrator">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="clients">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Administrer Clients
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="User">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="clients">
                    <span class="oi oi-monitor" aria-hidden="true"></span>  Voir Clients
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-plus" aria-hidden="true"></span> Register
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

